<div class ="ChannelNavigation">
    <div *ngFor="let channel of channels"><a (click) ="joinChannel(channel)">{{channel}}</a></div>
    <input [(ngModel)]="newchannel" id="NewChannel">
    <button (click)="addNewChannel()">Add Channel</button>
</div>

<div class="ChatBox">
    <h2>User: {{username}}</h2>
    <h3>Role: {{role}}</h3>
    <button *ngIf="username" (click)="logout()" class="btn">Logout</button>
    <h3>Chat Messages</h3>
    <div id="ChatLog">
        <div *ngFor="let message of messages" id="ChatLogMessages">{{message}}</div>
    </div>
    <input [(ngModel)]="message" id="ChatMessage">
    <button (click)="sendMessage()" class="btn">Send</button>
</div>