.ChannelNavigation {
    height: 100vh;
    width: 200px;
    float: left;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
}

.ChannelNavigation a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.ChannelNavigation a:hover {
    background-color: grey;
    color: black;
}

.ChatBox {
    margin-left: 200px;
    padding-left: 20px;
}

#ChatLog {
    width: 800px;
    height: 600px;
    overflow: scroll;
    background-color: darkgrey;
}

#ChatLogMessages {
    padding: 7px 10px;
    font-size: 16;
}

#ChatMessage {
    width: 500px;
    padding: 10px;
}

.btn {
    background-color: slategray;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
}

button:hover {
    opacity: 0.7;
}